


body{
    font-family: 'Poppins', sans-serif;
}

.main-color{
    color: #f25454 !important;
}

.second-color{
 color: #282828 !important;
}


h1,  h2,  h3,  h4,  h5,  h6 {
    font-family: "Poppins", sans-serif;
    color: #282828;
}

/****************************home section *******************/
.navbar{

    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.navbar-nav{
    padding: 30px 0;
}

.navbar-nav>li>a {
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.5px;
    padding-top: 0;
    padding-bottom: 0;
    color: #fff !important;
}

.navbar-nav>li>a.active{
    color: #f25454 !important;
}

.navbar-nav li{
    transition: color 0.5s ease-in;
    padding-right: 1.5rem;
}
.navbar-nav li:hover a{
    color: #f25454 !important;
}

 .imgitem{
    position: relative;
    background-position: center center;
    background-size: cover;
    width: 100%;
}

.nav-icons i{
    cursor: pointer;
    transition: 0.5s ease;
}

.nav-icons i:hover {
    color: #f25454 !important;
}

.item-content h1{ 
    font-size: 70px;
    font-weight: 800;
    color: #fff;
    z-index: 4;
    position: absolute;
}

.float-end{
    background-color: rgba(0, 0, 0, 0.2) !important;
}

/* .bg-transparent.scrolled{
    background-color: #000 !important;
} */


.carousel-control-next-icon, .carousel-control-prev-icon {
    
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid #fff !important;
    padding: 10px !important;
    background-color: transparent;
    color: #fff !important;
    
    
}



.carousel-control-next{
    left: -80px;
    top:-220px;
}

.carousel-control-prev{
    left: -80px;
    top:-300px;
}


#home .down-icon {
    width: 25px;
    height: 45px;
    border: 2px solid white;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;
    border-radius: 15px;
    animation: scroll 3s ease-in-out infinite;
}

#home .down-icon::after {
    content: "";
    width: 3px;
    height: 10px;
    background-color: white;
    position: absolute;
    bottom: 10px;
    transform: translateX(-50%);
    left: 50%;

}

@keyframes scroll {

    0% {
        bottom: 50px;
    }

    10% {
        bottom: 100px;
    }

    20% {
        bottom: 50px;
    }

    30% {
        bottom: 80px;
    }

    40% {
        bottom: 50px;
    }

    50% {
        bottom: 70px;
    }

    60% {
        bottom: 50px;
    }

    70% {
        bottom: 60px;
    }

    80% {
        bottom: 50px;
    }

    90% {
        bottom: 50px;
    }

    100% {
        bottom: 50px;
    }
}



/*****************section about **********************/

.section-title h2{
    position: relative;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    margin-bottom: 20px;
    font-size: 40px;
    line-height: 40px;
    font-weight: 900;
    color: #282828;
}


.section-title h2::after{
    content: "A";
    font-size: 80px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -30%;
    opacity: .1;

}

.section-title hr{
    width: 40px;
    height: 1.5px;
    color: #000;
    margin:0 auto 20px;
    transition: width 0.5s ease-in;
}


.section-title:hover hr{
    width: 75px;
}

.section-title p {
    font-size: 17px;
    color: #999;
    margin-bottom: 70px;
    padding: 0;
}


.about-content p{
    color: rgb(17, 16, 16) !important;
    font-size: 14px;
    margin-bottom: 10px;
}



.progress {
    height: 4px;
    margin-bottom: 20px;
    background-color: #eee;
    border-radius: 2px;
    
}

.progress-bar{
    background-color: #f25454;
}

.progress-title {
    float: left;
    margin: 0;
    padding: 0;
    color: #444;
    font-weight: 600;
    text-transform: none;
}


/********************************team***************/


.team-img{
    position: relative;
    transition: all 0.5s ease-in;
    overflow: hidden;
}

.team-social{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(242, 84, 84, 0.85);
    opacity: 0;
}

.team-img:hover .team-social{
    opacity: 1;
}

.team-social-inner a{
    padding: 0 10px;
}

.team-img:hover img{ 
    transform: scale(1.2);
}

.lowercase{
    font-size: 2rem;
    font-weight: 500;
}

.btn.btn-default{
    background-color: #f25454;
    color: #fff !important;
    border-radius: 3px;
    padding: 18px 30px;
    line-height: 1;
    font-weight: 700;
}

.team-text h5{
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

.team-text p{
    font-size: 16px;
    color: #666;
}

.team-text{
    transition: all 0.3 ease;
}
.team-text:hover  h5{
    color: #f25454;
}

/********************services**************/

.services{
    background-color: #fafafa;
}


.services .icons{
    
    font-size: 32px;
    line-height: 32px;
    cursor: default;
    color: #f25454;
}


.service-text h3{
    font-size: 18px;
    color: #282828;
    font-weight: 800;
    margin-bottom: 18px;
    transition: all 0.3s ease;
}

.service-text p{
    font-size: 0.85rem;
    color: #666;
}


.services-item:hover .service-text h3{
color: #f25454;
}

/**********************************client********************/
.carousel-indicators [data-bs-target]{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-indent: 0;
}




.item-cont h3{
    font-size: 18px;
    font-weight: 600;
    color: #282828;
    margin-top: 12px;
}

.item-cont span{
    font-size: 14px;
    font-weight: 300;
    color: #666;
    margin-bottom: 16px;

}

.item-cont p{
    font-size: 20px;
    color: #333;
    margin: 20px 5px;
}

/************************contact*******************/

.contact{
    background-color:#fafafa ;
}

.contact-info h3{
    font-size: 2rem;
    font-weight: 800;
    color: #282828;
    line-height: 2rem;
    margin-bottom: 2rem;
}
 
.contact-icon i{
    color: #f25454;
}

.contact-text h3{
    color: #282828;
    font-size: 18px;
    font-weight: 800;
    transition: color 0.3s ease ;
}

.contact-content:hover  h3{
    color: #f25454;
}

.htextarea{
    height: 110px;
}


/******************************footer*****************/


.footer {
    position: relative;
    z-index: 10;
    font-family: "Poppins", sans-serif;
    color: #b0b0b0;
    background-image: url(../images/dotted-map.png);
    background-color: #222;
}

.footer .to-top {
    position: absolute;
    display: block;
    z-index: 10;
    left: 0;
    right: 0;
    top: -25px;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border-radius: 50%;
    color: #fff;
    font-size: 18px;
    line-height: 46px;
    text-align: center;
    cursor: pointer !important;
    background: rgba(242, 84, 84, 0.5);
    transition: all 0.3s;
}

footer .to-top i {
    color: #fff;
}

.footer .footer-widgets {
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
    background-size: contain;
}

.footer a{
    text-decoration: none;
    color: #b0b0b0;
}

.footer .empty-30{
    height: 30px;
}

.footer .footer-widgets h5 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 20px;
}


.footer .textwidget p{
    margin-bottom: 10px;
    color: #b0b0b0;
}


.footer .footer-widgets .footer-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer .footer-widgets .tags {
    margin-top: 16px;
    overflow: hidden;
}

.clearfix{
    clear: both;
}
.footer .footer-widgets .tags .tag {
    border: 1px solid #b0b0b0;
    display: block;
    float: left;
    margin-right: 8px;
    margin-bottom: 8px;
    padding: 2px 10px;
    font-size: 13px;
    text-decoration: none;
    border-radius: 3px;
    border: 1px solid #eee;
    transition: all 0.3s;
}

.footer .footer-widgets .tags .tag:hover {
    color: #f25454;
    border: 1px solid #f25454;
}


.footer .footer-copyright {
    position: relative;
    clear: both;
    background: #1a1a1a;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer-social a>i {
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    width: 1.2em;
    text-align: center;
    transition: all 0.3s;
}

.footer-social a>i:hover{
    color: #f25454;
}


.footer .copyright {
    clear: both;
    margin: 0;
    line-height: 16px;
    letter-spacing: .5px;
    text-align: right;
}

.footer .copyright a {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    transition: all 0.3s;
}

.footer .copyright a:hover {
    color: #f25454;
    
}

.footer-social a{
    padding-left: 16px;
}